
<table>
  <tr class="row1">
    <td id="freeparking"></td>
    <td id="box1"><div id="box2div"></div></td>
    <td id="chance1"></td>
    <td id="box2"><div id="box2div"></div></td>
    <td id="box3"><div id="box3div"></div></td>
    <td id="rr1"></td>
    <td id="box4"><div id="box4div"></div></td>
    <td id="box5"><div id="box5div"></div></td>
    <td id="ww1"></td>
    <td id="box6"><div id="box6div"></div></td>
    <td id="gotojail"></td>
  </tr>

  <tr class="row2">
    <!-- orange -->
    <td id="box22"><div id="box22div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box7"><div id="box13div"></div></td>
  </tr>

  <tr class="row3">
    <!-- orange -->
    <td id="box21"><div id="box21div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box8"><div id="box8div"></div></td>
  </tr>

  <tr class="row4">
    <td id="communitychest3"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="communitychest1"></td>
  </tr>

  <tr class="row5">
  <!-- orange -->
    <td id="box20"><div id="box20div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box9"><div id="box9div"></div></td>
  </tr>

  <tr class="row6">
    <td id="rr4"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="rr3"></td>
  </tr>

  <tr class="row7">
    <td id="box19"><div id="box19div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="chance2"></td>
  </tr>

  <tr class="row8">
    <td id="box18"><div id="box18div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box10"><div id="box10div"></div></td>
  </tr>

  <tr class="row9">
    <td id="electric"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="luxury"></td>
  </tr>

  <tr class="row10">
    <td id="box17"><div id="box17div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box11"><div id="box11div"></div></td>
  </tr>

  <tr class="row11">
    <td id="jail"></td>
    <td id="box16"><div id="box16div"></div></td>
    <td id="box15"><div id="box15div"></div></td>
    <td id="chance3"></td>
    <td id="box14"><div id="box14div"></div></td>
    <td id="rr3"></td>
    <td id="incometax"></td>
    <td id="box13"><div id="box13div"></div></td>
    <td id="communitychest2"></td>
    <td id="box12"><div id="box12div"></div></td>
    <td id="go"></td>
  </tr>












</table>


