<!DOCTYPE html>
<html>
<head>
  <title>BoardWalk</title>
  <link rel="stylesheet" type="text/css" href="board.css">
</head>
<body>

<table>
  <tr class="row1">
    <td id="box1"></td>
    <td id="box2"><div id="box2div"></div></td>
    <td id="box3"></td>
    <td id="box4"><div id="box4div"></div></td>
    <td id="box5"><div id="box5div"></div></td>
    <td id="box6"></td>
    <td id="box7"><div id="box7div"></div></td>
    <td id="box8"><div id="box8div"></div></td>
    <td id="box9"></td>
    <td id="box10"><div id="box10div"></div></td>
    <td id="box11"></td>
  </tr>

  <tr class="row2">
    <!-- orange -->
    <td id="box12"><div id="box12div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box13"><div id="box13div"></div></td>
  </tr>

  <tr class="row3">
    <!-- orange -->
    <td id="box14"><div id="box14div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box15"><div id="box15div"></div></td>
  </tr>

  <tr class="row4">
    <td id="box16"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box17"></td>
  </tr>

  <tr class="row5">box
  <!-- orange -->
    <td id="box18"><div id="box18div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box19"><div id="box19div"></div></td>
  </tr>

  <tr class="row6">
    <td id="box20"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box21"></td>
  </tr>

  <tr class="row7">
    <td id="box22"><div id="box22div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box23"></td>
  </tr>

  <tr class="row8">
    <td id="box24"><div id="box24div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box25"><div id="box25div"></div></td>
  </tr>

  <tr class="row9">
    <td id="box26"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box27"></td>
  </tr>

  <tr class="row10">
    <td id="box28"><div id="box28div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="box29"><div id="box29div"></div></td>
  </tr>

  <tr class="row11">
    <td id="box30"></td>
    <td id="box31"><div id="box31div"></div></td>
    <td id="box32"><div id="box32div"></div></td>
    <td id="box33"></td>
    <td id="box34"><div id="box34div"></div></td>
    <td id="box35"></td>
    <td id="box36"></td>
    <td id="box37"><div id="box37div"></div></td>
    <td id="box38"></td>
    <td id="box39"><div id="box39div"></div></td>
    <td id="box40"></td>
  </tr>












</table>

</body>
</html>
